{{ define "main" -}}
  <article id='singleArticle' itemscope itemtype='http://schema.org/Article'>
    <meta itemprop='author' content='{{ .Site.Params.author }}'>

    <header style="background-color: {{ .Params.background }}">
      <h1 itemprop='name'>
        {{ .Title }}
      </h1>
      {{ partial "post-meta" . }}
    </header>

    <section itemprop='articleBody'>
      {{ .Content }}
    </section>
    <aside>
      <h3>Related</h3>
      <ul>
        {{ range .Site.RegularPages.Related . }}
          <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      </ul>
    </aside>
  </article>
{{- end }}
